<footer class="template-footer">

	<div class="wrapper">
		{{widget('content', 'footer-copyright', {content: '<small>Copyright &copy;</small>'})|raw}}
		{{widget('profile', 'footer-socialicons', { 'profileType' : 'socialicons' })|raw}}
		{{widget('companyaddress', 'footer-companyaddress', {})|raw}}
	</div>
	
</footer>